<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}"><strong>urge·to·punt</strong> tech·nol·o·gies</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ "/about" | prepend: site.baseurl }}" title="About"><i class="fa fa-info-circle fa-lg"></i></a></li>
        <li><a href="https://github.com/jparker" title="GitHub"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://twitter.com/urgetopunt" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://linkedin.com/in/urgetopunt" title="LinkedIn"><i class="fa fa-linkedin fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
